<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="/view/statics/HyperDown/Parser.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-12" style="height: 30px;">

    </div>
    <div class="col-md-6">
        标题:<input type="text" class="form-control" id="title" value="<!--{$wiki['name']}-->" readonly="readonly">
    </div>
    <div class="col-md-6" style="height: 80px;">

    </div>
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label >文本框</label>
                <textarea id="markdown" class="form-control" rows="3" style="height: 600px;"><!--{$markdown}--></textarea>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div id="content">
            <!--{$html}-->
        </div>
    </div>
    <div class="col-md-12">
        备注:<input type="text" class="form-control" id="msg">
    </div>
    <input type="hidden" id="file_name" value="<!--{$wiki['file_name']}-->">
    <div class="col-md-12" style="height: 30px;margin-top: 30px;">
        <button id="newWiki" type="button" class="btn btn-default">提交</button>
    </div>
</div>


</body>
<script>

    $('#markdown').change(function () {
        var parser = new HyperDown;
        var markdownText = $('#markdown').val();
        console.log(markdownText);
        var html = parser.makeHtml(markdownText);
        console.log(html);
        $('#content').html(html);
    });

    $('#newWiki').click(function () {
        var markdownText = $('#markdown').val();
        var file_name = $('#file_name').val();
        var msg = $('#msg').val();
        var param = {
            markdownText:markdownText,
            file_name:file_name,
            msg:msg
        };
        $.post('/ajax_edit_wiki', param, function(data){
            if (data.ec == 200) {
                alert('成功');
            } else {
                alert('失败');
            }
        })
    })

</script>
</html>