<!--{layout:header.html}-->
<div class="container-fluid">
    <div class="col-md-9">
        <div class="list-group" style="height: 100px;">
            <div style="border: 1px dashed #ddd; padding-top: 100px;margin-top: 10px;"></div>
        </div>
        <div class="list-group">
            <!--{foreach($wiki as $val)}-->
            <div class="list-group-item" style="border: 0;">
                <p class="text-muted">
                    <!--{if($val[is_dir])}-->
                    <span class="glyphicon glyphicon-book" style="color: cornflowerblue"></span>
                    <a href="/wiki/<!--{$val['id']}-->/<!--{$val['id']}-->"><!--{$val['name']}--></a>
                    <!--{else}-->
                    <span class="glyphicon glyphicon-file"></span>
                    <a href="/wiki/<!--{$val['pid']}-->/<!--{$val['id']}-->"><!--{$val['name']}--></a>
                    <!--{/if}-->
                    <small class="pull-right">
                        <!--{$val['create_time']}-->
                    </small>
                </p>
            </div>
            <div style="border: 1px dashed #ddd;"></div>
            <!--{/foreach}-->
            <!--<div class="text-right">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>-->

        </div>
    </div>
    <div class="col-md-2" style="margin-left:70px;margin-top: 30px;">
        <div>
            <p>部门列表 <a href="/navigation">(新建部门)</a></p>
            <ul class="nav">
                <!--{foreach($nav as $val)}-->
                <li><a href="/wiki/<!--{$val['id']}-->/<!--{$val['id']}-->"><!--{$val['name']}--></a></li>
                <!--{/foreach}-->
            </ul>
        </div>
    </div>
</div>
</body>
</html>