<!DOCTYPE html>
<html>
<head>
    <title>opq-wiki</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="nav navbar-inverse navbar-fixed-top" style="filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span class="glyphicon glyphicon-road"></span> <strong>opq-wiki</strong>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <!--<li><a href="#">首页</a></li>
            <li><a href="#">演出</a></li>
            <li><a href="#">音乐</a></li>
            <li class="active"><a href="#">文章</a></li>-->
        </ul>
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder=""  />
                    <div class="input-group-btn">
                        <button class="btn btn-block"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding-left: 10px; margin: 0px 12px;">
                <a href="#" style="color: #D2D2D2;">登录</a>
                <span  style="color: #D2D2D2;padding-left: 5px;">|</span>
                <a href="#" style="color: #D2D2D2;padding-left: 5px;">注册</a>
                <span  style="color: #D2D2D2;padding-left: 5px;">|</span>
                <a href="/pull" style="color: #D2D2D2;padding-left: 5px;">pull</a>
            </div>
        </div>
    </div>
</nav>
<div style="height: 60px;"></div>